@font-face {
    font-family: 'cybox';
    src: url('../../assets/font/Cocon-Regular-Font.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    margin-right: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'cybox';
    font-size: 17px;
    line-height: 28px;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h7 {
    font-family: 'cybox';
    font-weight: 700;
    color: $white;
}

p {
    font-family: sans-serif;
    font-weight: 100;
}


.altura {
    height: 480px !important;
}

.page-title.p404 {
    padding: 100px 0 239px;
}

.main .page-title .slider-st1 .overlay {

    background: url(../../assets/images/backgroup/1.png) center center no-repeat !important;
    background-size: cover !important;

}

.roadmap .box .rm-box ul li {
    font-size: 12px;
}
.main .page-title .box-slider .image {
    width: 52%;
}    


.main .page-title .box-slider .image img {
    background-size: cover;
    width: 100%;
}
.main .page-title .box-slider .content-box h1 {
    text-transform: initial !important;

}

.roadmap.style2 .box .corner-box {
    height: 436px !important;
}

.pulse-button {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5) !important;
    -webkit-animation: pulse 1.5s infinite;
  }
.pulse-button:hover {
    -webkit-animation: none;
  }
  
  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(134, 99, 99, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(119, 108, 108, 0);
	}
}
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .oculta-mob {
        display: none;
    }

    .header #site-header-inner {
        justify-content: center;
    }
    .page-title.p404 h1 {
        font-size: 54px !important;
    }
    .page-title.p404 h2 {
        font-size: 22px;
    }
}